body {
	background-color: #13202f;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
}

nav ul {
	align-items: center;
	background-color: #241E24;
	display: flex;
	font-size: 20px;
	height: 50px;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}

nav li {
	margin: 0 20px;
	position: relative;
}

nav a {
	text-decoration: none;
}

a {
	color: #C0E4D8;
}

nav a:hover, nav a:active {
	color: #68d4bf;
}

nav a:hover::after, nav a:active::after {
	border-bottom: solid 4px #68d4bf;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	top: 11px;
	width: 100%;
}

header {
	box-sizing: border-box;
	color: #C0E4D8;
	display: flex;
	height: 100vh;
	justify-content: center;
	padding-top: 50px;
}

/*correct for height of fixed header*/
#about:target::before, #projects:target::before {
	content: "";
	display: block;
	height: 60px;
	margin: -60px 0 0;
}

#intro {
	box-sizing: border-box;
	padding: 10% 5%;
}

#tagline {
	font-size: 48px;
}

#name {
	color: #68d4bf;
	font-size: 136px;
	margin-top: 10%;
	width: 100%;
}

#title {
	font-size: 24px;
	margin-top: 3%;
	text-align: right;
}

#header-illustration {
	align-self: center;
	display: flex;
	height: 70%;
	width: 23%;
}

#gardener {
	height: 100%;
}

#overlay {
	background-image: url("assets/leaves.png");
	background-size: contain;
	height: calc(100vh - 50px);
	position: absolute;
	width: 99vw;
}

/*ABOUT*/
#about div {
	-ms-grid-column: 2;
	grid-column-start: 2;
	-ms-grid-column-span: 3;
	grid-column-end: span 3;
}

/*PROJECTS*/

.section-item {
	align-items: center;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 400px 100px 400px 1fr;
	grid-template-columns: 1fr 400px 100px 400px 1fr;
	-ms-grid-rows: 7fr 2fr;
	grid-template-rows: 7fr 2fr;
	padding: 6% 0;
}

section h2 {
	color: #68d4bf;
	font-size: 48px;
	margin-top: 0;
}

section p {
	color: #C0E4D8;
	font-size: 24px;
	line-height: 36px;
}

section a {
	color: white;
}

.section-graphic {
	display: flex;
	-ms-grid-column: 4;
	grid-column-start: 4;
	-ms-grid-row: 1;
	grid-row-start: 1;
	-ms-grid-row-span: 2;
	grid-row-end: span 2;
}

.section-description {
	-ms-grid-column: 2;
	grid-column-start: 2;
	-ms-grid-row: 1;
	grid-row-start: 1;
}

#projects .section-item:nth-child(2n) .section-description {
	-ms-grid-column: 4;
	grid-column-start: 4;
}

#projects .section-item:nth-child(2n) .section-graphic {
	-ms-grid-column: 2;
	grid-column-start: 2;
}

#projects .section-examples {
	-ms-grid-column: 2;
	grid-column-start: 2;
	-ms-grid-row: 2;
	grid-row-start: 2;
}

#projects .section-item:nth-child(2n) .section-examples {
	-ms-grid-column: 4;
	grid-column-start: 4;
}

#projects .section-examples-content {
	font-size: 24px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#projects .section-examples li {
	list-style: none;
}

#projects .section-examples li::before {
	background-image: url("assets/leaf-small.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 25px;
	margin-right: 10px;
	width: 25px;
}

#projects .section-graphic-content {
	position: relative;
}

.carrot {
	width: 32%;
}

#plants .section-graphic-content{
	background: repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 34px, rgba(255, 255, 255, 0.16) 34px, rgba(255, 255, 255, 0.16) 35px);
	border-bottom: solid 2px #C0E4D8;
	overflow: hidden;
}

.plant {
	height: 300px;
	max-width: 150px;
	position: relative;
	top: 150px;
	width: 32%;
}

#plant1.activated {
	top: 120px;
}

#plant2.activated {
	top: 10px;
}

#plant3.activated {
	top: 100px;
}

#branch {
	width: 100%;
}

#flower1.activated {
	left: 13%;
	position: absolute;
	top: 20%;
	width: 28%;
	z-index: -1;
}

#flower2.activated {
	left: 74%;
	position: absolute;
	top: 5px;
	width: 28%;
	z-index: -1;
}

#flower3.activated {
	left: 47%;
	position: absolute;
	top: -25px;
	width: 13%;
}

#rake {
	height: 50%;
	position: relative;
	width: 30%;
}

#rake.activated {
	left: 70%;
}

#tools-graphic {
	overflow: hidden;
}

#tools-graphic-content {
	background-image: url("assets/weeds.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
}

#tools-graphic-content.activated {
	left: 100%;
	position: relative;
}

#illustrations-graphic, #illustrations-graphic .section-graphic-content {
	height: 100%;
	width: 100%;
}

#illustrations-graphic .section-graphic-content {
	display: flex;
	justify-content: center;
}

#leaf-outer {
	border: solid 4px #C0E4D8;
	height: 75%;
	max-width: 275px;
	min-height: 200px;
	position: relative;
	width: 75%;
}

#leaf-outer.active {
	border: solid 4px #0fb;
	border-radius: 37% 63% 45% 55% / 19% 98% 2% 81%;
	margin-bottom: 50px;
	transform: rotate(20deg);
}

#leaf-midrib {
	background-color: #c0e4d8;
	height: 3px;
	position: absolute;
	top: 20px;
	width: 100%;
}

#leaf-midrib.active {
	background-color: #0fb;
	border-radius: 50%;
	top: 99%;
	transform: rotate(37deg);
	transform-origin: bottom right;
}

#leaf-vein1 {
	background-color: #c0e4d8;
	height: 3px;
	left: 125px;
	position: absolute;
	top: 75px;
	width: 100px;
}

#leaf-vein1.active {
	background-color: #0fb;
	border-radius: 50% 0;
	left: 25px;
	top: 13px;
	transform: rotate(-26deg);
	width: 58px;
}

#leaf-vein2 {
	background-color: #c0e4d8;
	height: 3px;
	left: 125px;
	position: absolute;
	top: 100px;
	width: 100px;
}

#leaf-vein2.active {
	background-color: #0fb;
	border-radius: 50% 0;
	left: 100px;
	top: -17px;
	transform: rotate(-150deg);
	width: 68px;
}

/*CONTACT*/
#contact {
	background-color: #C0E4D8;
}

#contact .section-item {
	padding: 0;
}

#contact ul {
	display: flex;
	-ms-grid-column: 2;
	grid-column-start: 2;
	-ms-grid-column-span: 3;
	grid-column-end: span 3;
	-ms-grid-row-span: 2;
	grid-row-end: span 2;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}



@media screen and (max-width: 1500px) {
	#intro {
		width: 50%;
	}

	#tagline {
		font-size: 36px;
	}

	#name {
		font-size: 124px;
	}

	#title {
		margin-left: 10px;
		text-align: left;
	}

	.section-item {
		padding: 10% 0;
	}

	section h2 {
		font-size: 36px;
	}
}

@media screen and (max-width: 1350px) {
	#name {
		font-size: 96px;
	}

	.section-item {
		-ms-grid-columns: 1fr 300px 100px 300px 1fr;
		grid-template-columns: 1fr 300px 100px 300px 1fr;
	}

	.section-description, .section-graphic {
		max-width: 400px;
	}
}

@media screen and (max-width: 992px) {
	header {
		display: block;
	}

	#intro {
		text-align: center;
		width: 100%;
	}

	#name {
		margin-top: 5%;
	}

	#header-illustration {
		height: 50%;
		justify-content: center;
		width: auto;
	}

	#title {
		text-align: center;
	}

	.section-item {
		display: block;
		padding: 3% 6%;
		text-align: center;
	}

	section h2 {
		font-size: 48px;
	}

	.section-description {
		box-sizing: border-box;
		max-width: 100%;
		padding: 0 10% 5% 10%;
		width: 100%;
	}

	.section-graphic {
		justify-content: center;
		max-width: 100%;
		width: 100%;
	}

	.section-graphic-content {
		max-width: 400px;
		width: 100%;
	}

	.section-examples:not(#projects .section-item:last-of-type .section-examples) {
		border-bottom: solid 1px silver;
		padding: 5% 0 12% 0;
	}

	#contact ul {
		margin: 0;
		padding: 5% 0;
	}
}

@media screen and (max-width: 550px) {
	#tagline {
		font-size: 24px;
	}

	#name {
		font-size: 72px;
	}

	#projects {
		margin-top: 10%;
	}

	.section-graphic-content {
		max-width: 300px;
	}

	.section-examples {
		padding: 15% 0 25% 0;
	}
}